[project]
	description = my vim config
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Han Wang (hanw)
[access "refs/for/refs/*"]
	read = group user/Han Wang (hanw)
	push = group user/Han Wang (hanw)
	label-Code-Review = -2..+2 group user/Han Wang (hanw)
	label-Verified = -1..+1 group user/Han Wang (hanw)
	rebase = group user/Han Wang (hanw)
	removeReviewer = group user/Han Wang (hanw)
	submit = group user/Han Wang (hanw)
[access "refs/heads/*"]
	read = group user/Han Wang (hanw)
	create = group user/Han Wang (hanw)
	push = +force group user/Han Wang (hanw)
	pushMerge = group user/Han Wang (hanw)
[access "refs/tags/*"]
	push = +force group user/Han Wang (hanw)
	pushTag = group user/Han Wang (hanw)
	pushSignedTag = group user/Han Wang (hanw)
